/* src/App.css */

.app {
  text-align: center;
}

.horoscopo-page {
  margin: 2rem;
}

.horoscopo-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
